:root {
  --color-primary: #19283f;
  --color-secondary: #eff7fa;
  --color-green: #00c7c0;
  --color-btn: #ff3150;
  --color-white: #fff;
  --color-yellow: #ffc400;
  --color-text-light: rgb(168, 185, 192);
}
